@import "../variables";

@mixin readmore(
  $text: $primary-invert,
  $background: $primary,
  $size: $size-7,
  $align: right,
  $margin: (
    $size * 2
  )
  $size $size
  (
    $size / 2
  )
) {
  .readmore {
    margin: $margin;
    text-align: $align;
    a {
      background-color: $background;
      color: $text;
      text-transform: uppercase;
      padding: $size;
    }
  }
}
