@import "@pittica/scss-functions";
@import "../../variables";

@include keyframes(hover-bg) {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
    color: $primary-invert;
  }
  100% {
    background-position: 0;
    color: $primary-invert;
  }
}

@mixin gradient() {
  background-size: 300% 100%;
  @include linear-gradient(
    "right",
    $primary 0%,
    $primary 35%,
    $primary-invert 35%,
    $primary-invert 65%,
    $primary 65%,
    $primary 100%
  );
}

.article-grid {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  section {
    background-color: rgba($primary-invert, 0.75);
    margin: $size-7;
    padding: $size-7;
    font-weight: $weight-bold;
    a {
      color: $text;
    }
  }
  header {
    overflow: hidden;
    h3 {
      &.title {
        margin-bottom: 0;
        text-transform: none;
        font-size: $size-3;
        a {
          display: block;
          width: 100%;
          overflow: hidden;
          span {
            display: block;
            @include rotate(-3);
            width: 120%;
            background-color: $white;
            color: $grey-darker;
            display: block;
            padding: 25px 12%;
            position: relative;
            top: -25px;
            left: -10%;
            margin-bottom: 90px;
            text-align: center;
            strong {
              display: block;
              @include rotate(3);
              position: relative;
              top: 23px;
              margin-bottom: 1.5rem;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  .date {
    display: block;
    color: $grey-darker;
    width: 100%;
    text-align: right;
    small {
      background-color: rgba($primary-invert, 0.75);
      display: inline-block;
      padding: $size-7;
      position: relative;
      top: -5px;
    }
  }
  .readmore-link {
    text-align: right;
    a {
      background-color: $primary;
      color: $primary-invert;
      background-position: 100%;
      background-size: 300% 100%;
      @include linear-gradient(
        "right",
        $primary 0%,
        $primary 35%,
        $primary-invert 35%,
        $primary-invert 65%,
        $primary 65%,
        $primary 100%
      );
      display: inline-block;
      padding: $size-7;
      position: relative;
      top: 23px;
      text-transform: uppercase;
      &:hover {
        @include animate(hover-bg, 0.5s, 0, ease-in-out);
      }
    }
  }
}
