@import "../../variables";

@import "~bulma/sass/utilities/mixins";

.blog {
  header {
    &.hero {
      position: relative;
      top: -$navbar-height;
      .cover {
        position: absolute;
        max-height: 100vh;
        overflow: hidden;
        img {
          width: 100vw;
          height: 100vh;
        }
      }
      .title {
        background-color: rgba($primary-invert, 0.85);
        font-size: $size-2;
        padding: $size-6;
        @include until($tablet) {
          font-size: $size-3;
        }
      }
      .subtitle {
        background-color: rgba($primary-invert, 0.85);
        margin-top: $size-2;
        font-size: $size-3;
        padding: $size-7;
        @include until($tablet) {
          font-size: $size-4;
        }
      }
      .hero-body {
        padding-top: $size-1 * 2;
        .title {
          display: inline-block;
        }
        .subtitle {
          display: inline-block;
        }
        .post-meta {
          margin-top: $size-7;
          .icon-text {
            background-color: rgba($primary-invert, 0.85);
            padding: $size-7;
          }
        }
      }
      .hero-foot {
        a {
          background-color: rgba($primary-invert, 0.85);
          &:hover {
            background-color: rgba($grey-darker, 0.85);
            color: $primary-invert;
          }
          .icon-text {
            display: flow-root;
          }
        }
      }
    }
  }
  .post-content {
    .container {
      .content {
        h2 {
          @include until($tablet) {
            font-size: $size-3;
          }
        }
        h3 {
          @include until($tablet) {
            font-size: $size-4;
          }
        }
      }
    }
  }
}
