@import "../../variables";

.readmore-link {
  margin: 0 0 ($size-6 / 2) 0;
  text-align: right;
  a {
    background-color: $grey-darker;
    color: $primary-invert;
    text-transform: uppercase;
    padding: $size-7;
  }
  &.is-featured {
    margin: $size-7 * 2;
    a {
      background-color: $primary;
      color: $primary-invert;
    }
  }
}
