@import "../../variables";

.tag-link {
  display: inline-block;
  font-size: $size-6;
  font-weight: $weight-normal;
  font-family: $family-secondary;
  color: $primary;
  padding: $size-4 $size-6;
  text-transform: uppercase;
  i {
    color: $text-strong;
  }
  &:hover {
    color: $primary;
  }
}
