@import "../variables";

.post-layout {
  margin-bottom: ($size-1 * 2);
  h1 {
    &.title {
      font-size: $size-2;
    }
  }
  h2 {
    &.subtitle {
      font-size: $size-3;
    }
  }
  .static-grid {
    h3 {
      font-size: $size-4;
    }
  }
}
