@import "../functions";
@import "../variables";

.footer {
  overflow: hidden;
  margin-top: -100px;
  &:before {
    content: "";
    display: block;
    position: relative;
    top: -100px;
    left: -50%;
    width: 200%;
    height: 100px;
    background: $footer-color;
    @include rotate(2);
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .social-follow {
    margin: $size-6 auto;
    li {
      display: inline-block;
      padding: $size-7;
    }
  }
}