@import "@pittica/scss-functions";
@import "../variables";

.main {
  overflow: hidden;
  margin: 0 auto ($size-1 * 2) auto;
  &:after {
    content: "";
    display: block;
    position: relative;
    top: -50px;
    left: -50%;
    width: 200%;
    height: 100px;
    background: $footer-color;
    z-index: -1;
    @include rotate(2);
  }
  .inner-page {
    .container {
      h1 {
        font-size: $size-1;
      }
      h2 {
        font-size: $size-2;
      }
      h3 {
        font-size: $size-3;
      }
      h4 {
        font-size: $size-4;
      }
      h5 {
        font-size: $size-5;
      }
      h6 {
        font-size: $size-6;
      }
      ul {
        &.inline {
          li {
            display: inline-block;
            margin-right: $size-5;
            margin-bottom: $size-5;
          }
        }
      }
    }
  }
}
