@import "../variables";

@import "~bulma/sass/utilities/mixins";

.section-container {
  &.section-right {
    .section {
      text-align: right;
    }
  }
  &.section-left {
    .section {
      text-align: left;
    }
  }
  .section {
    padding-top: 0;
    position: relative;
    top: -400px;
    margin-bottom: -350px;
    @include until($desktop) {
      top: -200px;
      margin-bottom: -150px;
    }
    @include until($tablet) {
      top: -100px;
      margin-bottom: -50px;
    }
  }
}
