@import "../variables";

.section {
  p {
    margin: ($size-7 / 2) auto;
  }
  h1 {
    &.title {
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
  }
  ul {
    li {
      list-style-type: none;
      padding-left: $size-4;
      margin: ($size-7 / 2) auto;
      &:before {
        font-family: "pittica";
        content: "\2bc8";
        color: $primary;
        font-size: $size-6;
        position: absolute;
        left: -($size-7 / 4);
        padding-top: 0;
        padding-left: $size-7 / 3;
      }
    }
    &.page-list {
      margin-bottom: $size-1;
      li {
        display: inline-block;
        &:before {
          content: "";
        }
      }
    }
  }
  .container {
    margin-top: $size-4;
    margin-bottom: $size-6;
    &.section-title {
      .title {
        a {
          color: $primary;
          font-size: $size-1;
        }
      }
      .subtitle {
        font-size: $size-3;
        margin-bottom: $size-3;
        a {
          color: $subtitle-color;
          &:hover {
            color: $subtitle-color;
          }
        }
      }
    }
  }
}
