@import "../variables";

h2 {
  &.subtitle {
    font-size: $size-3;
    margin-bottom: $size-3;
    a {
      color: $subtitle-color;
      &:hover {
        color: $subtitle-color;
      }
    }
  }
}
