@import "@pittica/scss-functions";
@import "../variables";

@include keyframes(lighting) {
  0% {
    background-color: $grey-darker;
  }
  10% {
    background-color: $grey-darker;
  }
  11% {
    background-color: $white;
  }
  14% {
    background-color: $grey-darker;
  }
  20% {
    background-color: $grey-darker;
  }
  21% {
    background-color: $white;
  }
  24% {
    background-color: $grey-darker;
  }
  104% {
    background-color: $grey-darker;
  }
}
