@import "~bulma/sass/utilities/initial-variables";

$grey-darker: rgb(29, 29, 29);
$white: rgb(255, 255, 255);
$red: rgb(204, 21, 26);
$primary: $red;
$primary-invert: $white;
$text: $grey-darker;
$info: $grey-darker;
$title-color: $primary;
$link: $text;
$family-sans-serif: "Roboto Condensed", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Anton", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$text-strong: $grey-darker;
$footer-background-color: $grey-darker;
$footer-color: $white;
$navbar-background-color: $grey-darker;
$navbar-item-color: $primary-invert;
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$navbar-height: 3.7rem;
$subtitle-color: $grey-darker;
$section-padding: $size-1 $size-4;
$radius: 0;
$card-radius: 0;
$card-shadow: none;
$pagination-border-color: $white;
$pagination-hover-border-color: $white;
$pagination-focus-border-color: $white;
$pagination-active-border-color: $white;
$pagination-current-border-color: $white;
$pagination-hover-color: $white;
