$grey-darker: rgb(29, 29, 29) !default;
$white: rgb(255, 255, 255);
$red: rgb(204, 21, 26);
$primary: $red;
$primary-invert: $white;
$info: $grey-darker;
$title-color: $primary;
$link: $primary;
$family-sans-serif: "Roboto Condensed", sans-serif;
$family-secondary: "Anton", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$text-strong: $grey-darker;
$footer-background-color: $grey-darker;
$footer-color: $white;
$navbar-background-color: $grey-darker;
$subtitle-color: $grey-darker;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$section-padding: $size-1 $size-4;