@charset "utf-8";

@import "variables";
@import "fonts";

@import "~bulma/bulma.sass";

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  font-family: $family-secondary;
}
.image {
  width: 100%;
  margin: auto;
  &.is-square {
    padding-top: 0;
  }
}

h1 {
  &.title {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: $size-1;
    a {
      color: $primary;
      font-size: $size-1;
    }
  }
}

h2 {
  &.subtitle {
    font-size: $size-3;
    margin-bottom: $size-3;
    a {
      color: $subtitle-color;
      &:hover {
        color: $subtitle-color;
      }
    }
  }
}
