@import "../variables";

@import "~bulma/sass/utilities/mixins";

.ellipsis {
  span {
    display: inline-block;
    margin: $gap / 2;
    padding: $size-7;
    cursor: default;
    font-size: $size-1;
    background-color: $primary-invert;
    color: $primary;
    @include until($tablet) {
      padding: $size-7 / 2;
      margin: $gap / 5;
      font-size: $size-4;
    }
  }
}
