@import "../variables";

@import "~bulma/sass/utilities/mixins";

.list-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    a,
    span {
      display: inline-block;
      margin: $gap / 2;
      padding: 0.75rem;
      @include until($tablet) {
        padding: 0.35rem;
        margin: $gap / 5;
      }
    }
    a {
      border: 1px solid $primary;
      background-color: $primary;
      color: $primary-invert;
      &.current {
        background-color: $primary-invert;
        color: $primary;
      }
    }
    span {
      cursor: default;
      font-size: $size-1;
      background-color: $primary-invert;
      color: $primary;
      @include until($tablet) {
        font-size: $size-4;
      }
    }
  }
}
