@import "../variables";

@import "~bulma/sass/utilities/mixins";

.list-item {
  a {
    display: inline-block;
    margin: $gap / 2;
    padding: $size-7;
    @include until($tablet) {
      padding: $size-7 / 2;
      margin: $gap / 5;
    }
    border: 1px solid $primary;
    background-color: $primary;
    color: $primary-invert;
    &.current {
      background-color: $primary-invert;
      color: $primary;
    }
  }
  &.single {
    a {
      background-color: $primary;
      color: $primary-invert;
    }
  }
}
