@import "../functions";
@import "../variables";

@import "~bulma/sass/utilities/mixins";

@include translate-confusion(translate-sign-1, -3px, -18px);
@include translate-confusion(translate-sign-2, 27px, -1px);
@include translate-confusion(translate-sign-3, -5px, 18px);

.navbar {
  .navbar-menu {
    .navbar-start {
      padding-left: 324px;
      @include until($tablet) {
        padding-left: 0;
      }
    }
    &.is-active {
      position: relative;
      z-index: 0;
      @include until($desktop) {
        background-color: $primary-invert;
      }
      .navbar-start {
        .navbar-item {
          text-align: right;
          @include until($desktop) {
            color: $grey-darker;
          }
        }
      }
    }
  }
  .navbar-burger {
    color: $primary-invert;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    &.is-active {
      background-color: $primary-invert;
      color: $primary;
    }
    span {
      height: 2px;
    }
  }
}
