@import "../functions";
@import "../variables";
@import "../effects/outline";

@import "~bulma/sass/utilities/mixins";

@include translate-confusion(translate-sign-1, -3px, -18px);
@include translate-confusion(translate-sign-2, 27px, -1px);
@include translate-confusion(translate-sign-3, -5px, 18px);

.navbar-logo {
  position: absolute;
  z-index: 3;
  top: -13px;
  left: 0;
  display: block;
  background: $primary;
  height: 87px;
  width: 336px;
  max-width: 100%;
  margin-left: -9px;
  @include rotate(-3);
  @include until($tablet) {
    height: 76px;
    width: 320px;
  }
  svg {
    position: relative;
    top: 16px;
    width: 100%;
    height: auto;
    @include until($tablet) {
      height: 68px;
      max-width: 236px;
      left: 13px;
    }
    &.sign-pittica {
      .sign-pittica-logo {
        @include svg-outline($primary-invert, 1132, 2.5s);
      }
      .sign-pittica-icon {
        @include svg-outline($primary-invert, 350, 1.5s);
      }
    }
  }
  &:hover,
  &:focus {
    .sign-pittica {
      .sign-icon-1 {
        @include animate(translate-sign-1, 0.5s, 0s, linear);
      }
      .sign-icon-2 {
        @include animate(translate-sign-2, 0.5s, 0s, linear);
      }
      .sign-icon-3 {
        @include animate(translate-sign-3, 0.5s, 0s, linear);
      }
    }
  }
}
