@import "@pittica/scss-functions";
@import "../variables";

@import "~bulma/sass/utilities/mixins";

.navbar-item {
  text-transform: uppercase;
  font-family: $family-secondary;
  letter-spacing: 0.1rem;
  font-size: $size-6 + $size-7;
  background-size: 100% 200%;
  @include transition();
  @include from($desktop) {
    background-position: 100% 0;
    @include linear-gradient(top, $grey-darker 50%, $primary-invert 51%);
  }
  &:hover {
    background-position: 100% 100%;
  }
  &.is-active {
    background-position: 100% 100%;
  }
}
